<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.raytaylorlin.SuwakoJump"
          android:versionCode="2"
          android:versionName="2.0">
    <uses-sdk android:minSdkVersion="5"/>
    <supports-screens android:resizeable="false"
                      android:normalScreens="true"
                      android:largeScreens="true"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".SuwakoJumpActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:launchMode="singleInstance"
                  android:clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 
